<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Fournisseurs</h2>
    <p class="category">Please checkout the
      <a href="https://scttcper.github.io/ngx-toastr/" target="_blank">full documentation.</a>
    </p>
  </div>
</div>
<div class="main-content">
  <div class="row">
   
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="card-title">
                  Liste des fournisseurs
                  <p class="category">Click to view notifications</p>
                </h4>
              </div>
            </div>
            
              
            <div class="col-md-2">
                
              <input type="button"
              value="Ajouter"
              class="btn btn-success" routerLink="/ajoutfournisseur">
              </div>
          </div>
                  
    <table *ngIf="fournisseurs"  class="table">
    
      <thead>
      <tr>
      <th>Nom_F</th>
      <th>Tel_F</th>
      <th>Email_F</th>
      <th>  adresse_F</th>
     
      <th>Actions</th>
  
    
    </tr>
  </thead>
  <tbody>
  <tr class="" *ngFor="let p of fournisseurs">
  <td>{{p.Nom_F}}</td>
  <td>{{p.Tel_F}}</td>
  <td>{{p.Email_F}}</td>
  <td>{{p.adresse_F}}</td>
  <td>
   <input type="button" value="Modifier" class="btn btn-info btn-sm"[routerLink]="['/modiffournisseur/',p._id]">
   <input type="button" value="Supprimer" class="btn btn-danger btn-sm"(click)="Deletearticle(p._id)">
  </td>
  </tr>
  </tbody>
  </table>
  </div>
                </div>
              </div>
            </div>
           
       
          </div>
       

