<div class="panel-header">
    <div class="header text-center">
      <h2 class="title">Ajouter un article</h2>
     
    </div>
  </div>
  <form (ngSubmit)="ajoutarticle()">
  <div class="main-content">
    <div class="row">
     
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="places-buttons">
              <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h4 class="card-title">
                    Ajouter un article
                    <p class="category">Veuillez remplir le formulaire</p>
                  </h4>
                </div>
              </div>
              
              <div class="col-md-12">
                <div class="col-md-12 mb-5">
                    <h2><i class="fas fa-info-circle blue-color"></i>&nbsp; Création d'un nouvel article</h2>
                </div>
                <div class="col-md-12">
                    <div class="row mb-3">
                      <!-- aria-label="Code article"  -->
                        <div class="col">
                            <label>Réference</label>
                          <input type="text" class="form-control"  
                          aria-label="Code article" 
                           id="reference" name="reference"
                          [(ngModel)]="nouvarticle.reference">
                        </div>
                        <div class="col">
                            <label>Désignation</label>
                          <input type="text" class="form-control" 
                          id="designation_article" name="designation_article"
                          [(ngModel)]="nouvarticle.designation_article">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label>Famille d'article</label>
                            <select class="form-control" >
                                <option selected>Sélectionner une famille</option>

                                <!-- <option *ngFor="let famille of familles">{{ family.name }}</option> -->
                    
                            </select>
                        </div>
                        <div class="col">
                            <label>Quantité Actuelle</label>
                          <input type="text" class="form-control" 
                          id="quantite_article" name="quantite_article"
                          [(ngModel)]="nouvarticle.quantite_article">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label>Prix U. achat HT (Dt)</label>
                          <input type="text" class="form-control" 
                          id="prix_achat_article" name="prix_achat_article"
                          [(ngModel)]="nouvarticle.prix_achat_article">
                        </div>
                        <div class="col">
                           <label>Prix U. vente HT (Dt)</label> 
                          <input type="text" class="form-control"  
                          id="Prix_vente_article" name="Prix_vente_article"
                          [(ngModel)]="nouvarticle.prix_vente_article">
                        </div>
                    </div>
                    <div class="row mb-3">
                        
                        <div class="col">
                            <label>Date Peremption</label>
                          <input type="Date" class="form-control" 
                          id="date_peremption_article" name="date_peremption_article"
                          [(ngModel)]="nouvarticle.date_peremption_article">
                        </div>
                        <div class="col">
                            <label>TVA (%)</label>
                            <input type="text" class="form-control"
                            id="tva_article" name="tva_article"
                            [(ngModel)]="nouvarticle.tva_article">
                          </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">
                      <input style="display: none" type="file"
                      (change)="onFileChanged($event)" #fileInput>
                      <button type="button" (click)="fileInput.click()">Selectionner
                      image</button>
                      <input type="text" readonly class="form-control" id="image_article"
                      name="image_article" [(ngModel)]="nouvarticle.image_article" >
                      <div *ngIf="nouvarticle.image_article!=null"> <img
                      src="../../../../assets/{{nouvarticle.image_article}}" width="50"
                      height="50"/></div>
                      </div>
                </div>
            </div>
            <div class="col-md-12 text-right">
                <button class="btn btn-danger mr-3" (click)="cancelClick()">
                    <i class="fas fa-ban"></i>&nbsp; Annuler
                </button>
                <button class="btn btn-primary">
                    <i class="fas fa-save"></i>&nbsp; Enregistrer
                </button>
            </div>
  </div>
    </div>
                  </div>
                </div>
              </div>
             
         
            </div>
            </div>
          </form>
      
  
  
