<p>listarticle works!</p>
<body>
    <h3>Liste des Articles</h3>
    <div class="container">
    <div class="col-md-2">
    <input type="button"
    value="Ajouter"
    class="btn btn-success" routerLink="/articles/ajoutarticle">
    </div>
<!--     
    <table *ngIf="articles" datatable class="table table-hover table-
    striped table-bordered ">
    
    <thead>
    <tr>
    <th>Réf_article</th>
    <th>Designation_article</th>
    <th> Quantité_article</th>
    <th>Alert_article</th>
    <th>Prix_achat_article</th>
    <th>Prix_vente_article</th>
    <th>Tva_article</th>
    <th>Date_Peremption_article</th>
<th>imageartpetitf</th>
<th>famille</th>

<th>Actions</th>
</tr>
</thead>
<tbody>
<tr class="table-life" *ngFor="let p of articles">
<td>{{p.Réf_article}}</td>
<td>{{p.Designation_article}}</td>
<td>{{p.Quantité_article}}</td>
<td>{{p.Alert_article}}</td>
<td>{{p.Prix_achat_article}}</td>
<td>{{p.Prix_vente_article}}</td>
<td>{{p.Tva_article}}</td>
<td>{{p.Date_Peremption_article}}</td>



<td><img src="assets/{{p.Image_article}}" width="120"

height="60"></td>

<td>{{p.famille}}</td>

<td>
<input type="button"
value="Modifier"
class="btn btn-info btn-sm"
[routerLink]="['/articles/editarticle/',p._id]">
<input type="button"
value="Supprimer"
class="btn btn-danger btn-sm"
(click)="Deletearticle(p._id)">
</td>
</tr>
</tbody>
</table> -->
</div>