<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Notifications</h2>
    <p class="category">Please checkout the
      <a href="https://scttcper.github.io/ngx-toastr/" target="_blank">full documentation.</a>
    </p>
  </div>
</div>
<div class="main-content">
  <div class="row">
   
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="card-title">
                  Stock
                  <p class="category">Click to view notifications</p>
                </h4>

              </div>

              <div class="col-md-2">
                
                <input type="button"
                value="Ajouter"
                class="btn btn-success" routerLink="/ajoutarticle">
                </div>
            </div>
            
              
            <div class="table-responsive">          
                  
    <table *ngIf="articles"  class="table">
    
      <thead>
      <tr>
      <th>Réference</th>
      <th>Designation</th>
      <th>famille</th>
      <th> Quantité Actuelle</th>
      <th>Alert article</th>
      <th>P.U achat</th>
      <th>P.U vente</th>
      <th>TVA</th>
      <th>Date_Peremption</th>
     <!-- <th>Image</th> -->
      <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr class="" *ngFor="let p of articles">
  <td>{{p.reference}}</td>
  <td>{{p.designation_article}}</td>
  <td>{{p.famille}}</td>
  <td>{{p.quantite_article}}</td>
  <td>{{p.alert_article}}</td>
  <td>{{p.prix_achat_article}}</td>
  <td>{{p.prix_vente_article}}</td>
  <td>{{p.tva_article}}</td>
  <td>{{p.date_peremption_article}}</td>
  
  <!-- <td><img src="assets/{{p.Image_article}}" width="120" height="60"></td> -->
  
  
  <td>
   <input type="button" value="Modifier" class="btn btn-info btn-sm" [routerLink]="['/modifarticle/',p._id]">
   <input type="button" value="Supprimer" class="btn btn-danger btn-sm"(click)="Deletearticle(p._id)">
  
   <select>
    <option>OPTIONS</option>
    <option>Supprimer</option>
    <option>Supprimer</option>
   </select>
  </td>
  </tr>
  </tbody>
  </table>
</div>
  </div>
                </div>
              </div>
            </div>
           
       
          </div>
        </div>
    

